<app-titulo [titulo]="'Perfil'"  [imagem]="'perfilTitle.svg'"></app-titulo>

<div class="card rounded shadow-sm p-3">
<form form [formGroup]="form">
    <div class="row p-3">

		<div class="col-lg-3 pt-1">
			<div class="card mb-3">
				<div class="card-header2"></div>
				<div class="d-flex align-self-center pt-3">
					<a>
            <div  class="rounded-circle overflow-hidden circle">
						<img
						src="../../../../assets/images/perfil/perfil.jpg"
						name="aboutme" >
            </div>
          </a>
				</div>
				<div class="card-body">
					<div class="h4 text-center mb-3">@UserName</div>
					<div class="p">
						Developer of web applications, JavaScript, PHP, Java, Python, Ruby, Java, Node.js,
						etc.
					</div>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<div class="row2">
							<div class="d-flex4 text-center">
								<div class="h5-2">1342</div>
								<div class="h6-2 text-muted">Eventos Ministrados</div>
							</div>
							<div class="d-flex4 text-center">
								<div class="h5-2">1342</div>
								<div class="h6-2 text-muted">Eventos Participados</div>
							</div>
						</div>
					</li>
				</ul>
				<div class="card-footer2"></div>
			</div>
		</div>
		<div class="col-lg-9">
			<div class="form-row">
				<div class="form-group col-12">
					<h3 class="border-bottom">Detalhe Perfil</h3>
				</div>
      <div class="row-input" >
				<div class="d-flex2">
					<label class="label">Título</label>
					<select class="select" [ngClass]="{'is-invalid': f.titulo?.errors && f.titulo?.touched }" formControlName="titulo">
						<option value=""></option>
						<option value="0">Não Quero</option>
						<option value="Senhorita">Tecnólogo(a)</option>
						<option value="Senhorita">Bacharel</option>
						<option value="Senhorita">Especialista</option>
						<option value="Senhorita">Pós Graduado(a)</option>
						<option value="Senhorita">Mestre</option>
						<option value="Senhorita">Doutor(a)</option>
						<option value="Senhorita">Pós Doc</option>
					</select>
				</div>
				<div class="d-flex2" style="margin-left: 1rem;">
					<label class="label">Primeiro Nome</label>
					<input type="text" [ngClass]="{'is-invalid': f.firstname?.errors && f.firstname?.touched }" formControlName="firstname" class="input form-control"/>
           <div class="invalid-feedback">
              Primeiro nome é obrigatório!
            </div>
				</div>
				<div class="d-flex2" style="margin-left: 1rem;">
					<label class="label ">Último nome</label>
					<input type="text" [ngClass]="{'is-invalid': f.lastname?.errors && f.lastname?.touched }" formControlName="lastname" class="input form-control"/>
          <div class="invalid-feedback">
              Último nome é obrigatório!
            </div>
				</div>
      </div>
			</div>
			<div class="form-row">
        <div class="d-flex">
				<div class="d-flex2">
					<label class="label">E-mail</label>
					<input type="text" class="input form-control" [ngClass]="{'is-invalid': f.email?.errors && f.email?.touched }" formControlName="email"/>
				<div class="invalid-feedback">
              E-mail é obrigatório!
            </div>
        </div>
				<div class="d-flex2" style="margin-left: 1rem;">
					<label class="label">Telefone</label>
					<input type="text" class="input form-control" [ngClass]="{'is-invalid': f.telefone?.errors && f.telefone?.touched }" formControlName="telefone"/>
				<div class="invalid-feedback">
              Telefone é obrigatório!
            </div>
        </div>
				<div class="d-flex2" style="margin-left: 1rem;">
					<label class="label" >Função</label>
					<select class="select" [ngClass]="{'is-invalid': f.funcao?.errors && f.funcao?.touched }" formControlName="funcao">
						<option value=""></option>
						<option value="Participante">Participante</option>
						<option value="Palestrante">Palestrante</option>
					</select>
				</div>
      </div>
				<form-group class="d-flex2" >
					<label class="label">Descrição</label>
					<input type="text" class="input form-control" [ngClass]="{'is-invalid': f.descricao?.errors && f.descricao?.touched }" formControlName="descricao" />
          <div *ngIf="form.get('descricao')?.hasError('required')" class="invalid-feedback">
            Descrição é obrigatório!
          </div>
          <div *ngIf="form.get('descricao')?.hasError('minlength')" class="invalid-feedback">
            Descrição deve ter no mínimo 100 caracteres.
          </div>
        </form-group>
			</div>
			<div style="margin-top: 1rem;">
				<h3 class="pt-3 border-bottom">Mudar Senha</h3>
				<p>Caso mude de senha, preencha os campos abaixo:</p>
			</div>
			<div class="form-row ">
				<div class="form-group col-sm">
					<label class="label">Senha</label>
					<input type="password" class="input form-control"  [ngClass]="{'is-invalid': f.senha?.errors && f.senha?.touched }" formControlName="senha" />
          <div *ngIf="form.get('senha')?.hasError('required')" class="invalid-feedback">
            Senha é obrigatório!
          </div>
          <div *ngIf="form.get('senha')?.hasError('minlength')" class="invalid-feedback">
            Descrição deve ter no mínimo 6 caracteres.
          </div>
        </div>
				<div class="form-group col-sm">
					<label class="label">Confirmar Senha</label>
					<input type="password" class="input form-control" [ngClass]="{'is-invalid': f.confirmarSenha?.errors && f.confirmarSenha?.touched }" formControlName="confirmarSenha" />
          <div *ngIf="form.get('confirmarSenha')?.hasError('required')" class="invalid-feedback">
            Confirmar senha é obrigatório!
          </div>
          <div *ngIf="form.get('confirmarSenha')?.hasError('mustMatch')" class="invalid-feedback">
            As senhas não coincidem.
          </div>
        </div>
			</div>
		</div>
	</div>
	<div class="">
		<div class="d-flex3">
			<button class="button-danger mr-auto border rounded" style="margin-right: 1rem;" (click)="resetForm()">
				Cancelar Alteração
			</button>
			<button class="btn button-success">
				<span class="spinner-border spinner-border-sm mr-1"></span>
				Salvar Alteração
			</button>
		</div>
	</div>
</form>
</div>
