<app-titulo [titulo]="'Eventos'"></app-titulo>

<div  style="margin-bottom: 5px;">
  <div action="" class="form-inline">
    <div class="form-group mb-2 flex">
      <label style="margin-right:5px;">Filter</label>
      <input type="text" class="form-control mr-2" placeholder="buscar"
      [(ngModel)]="filtroLista"
      >
    </div>
  </div >
</div>
<!-- <table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>Imagem</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventos">
      <td>{{evento.eventoId}}</td>
      <td>{{evento.imagemURL}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.lote}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td></td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8">
        <h5>Nenhum evento adicionado!</h5>
      </td>
    </tr>
  </tfoot>
</table> -->
<!-- <div class="row row-cols-1 row-cols-md-4 g-4"  (click)="openModal(template)"> -->
  <div class="row row-cols-1 row-cols-md-4 g-4"  (click)="abrirModalCard()">
  <div class="col" *ngFor="let evento of eventosFiltrados">
    <div class="card h-100 shadow2">
      <div class="teste">
        <img class="cardimage" src="/assets/images/eventos/{{evento.imagemURL}}"   alt="...">
      </div>
      <div class="card-body">
        <div class="cardLote">
          <p>{{evento.lotes}}º Lote</p>
        </div>
        <div class="card-title">
          <h5 class=" titulo">{{evento.tema}}</h5>
        </div>
        <div class="card-text">
          <div class="flex">
            <i class="fa-regular fa-calendar icon" ></i>
            <p class="eventdate" >{{evento.dataEvento | DataTimeFormat}}</p>
          </div>
          <div class="flex" style="margin-top: 0.5rem;">
          <i class="fa fa-map-marker-alt"></i>
          <p class="eventlocal">{{evento.local}}</p>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="abrirCard" class="modalbackground">
  <div class="modalcontent">
    <div class="imagemModal">
        <i class="fa fa-close closemodal" (click)="fecharModalCard()"></i>
      <img src="../../assets/images/eventos/blizzcon.jpg" alt="">
    </div>
    <div class="deletarEvento" (click)="openModal(template)">
      <h5>Deletar evento</h5>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-default" (click)="confirm();fecharModalCard()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>
<!-- modal de excluir -->
<!-- <button type="button" class="btn btn-primary" (click)="openModal(template)">Open modal</button>
<br><br>
<pre class="card card-block card-header">{{message}}</pre>
<ng-template #template>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template> -->
