<div class="main">
  <div class="registration">
    <div class="imagem22">
      <img src="assets/images/registration.svg" alt="">
    </div>

    <div class="formulario">
      <div class="formulario">
          <!-- <p>Form value:{{form.value | json}}</p>
          <p>Form status:{{form.status | json}}</p> -->
          <form class="forms"  form [formGroup]="form">
            <h1>Sing in</h1>
            <div class="nome">
              <div class="">
                <label class="label">Primeiro Nome</label>
                <input type="text" class="input-nome" placeholder="Insira o Primeiro nome" formControlName="firstname"
                [ngClass]="{'is-invalid': f.firstname?.errors && f.firstname?.touched }" />
                <div *ngIf="form.get('firstname')?.hasError('required')" class="invalid-feedback">
                  Primeiro nome é obrigatório!
                </div>
              </div>
              <div class="">
                <label class="label">Último nome</label>
                <input type="text" class="input-nome" placeholder="Insira o Último nome" formControlName="lastname"
                [ngClass]="{'is-invalid': f.lastname?.errors && f.lastname?.touched }" />
                <div *ngIf="form.get('lastname')?.hasError('required')" class="invalid-feedback">
                  Último nome é obrigatório!
                </div>
              </div>
            </div>

            <div class="">
              <label class="label" for="">Email:</label>
              <input class="input" type="text" placeholder="Insira o Nome Completo" formControlName="email"
              [ngClass]="{'is-invalid': f.email?.errors && f.email?.touched }" />
              <div *ngIf="form.get('email')?.hasError('required')" class="invalid-feedback">
                Email é obrigatório!
              </div>
              <div *ngIf="form.get('email')?.hasError('email')" class="invalid-feedback">
                Email inválido!
              </div>
            </div>

            <div class="">
              <label class="label" for="">Usuario:</label>
              <input class="input" type="text" placeholder="Insira o nome de Usuário" formControlName="usuario"
              [ngClass]="{'is-invalid': f.usuario?.errors && f.usuario?.touched }"/>
              <div *ngIf="form.get('usuario')?.hasError('required')" class="invalid-feedback">
                Usuário é obrigatório!
              </div>
            </div>

            <div class="">
              <div class="">
                <label class="label" for="">Senha:</label>
                <input class="input" type="password" placeholder="Digite uma Senha" formControlName="senha"
                [ngClass]="{'is-invalid': f.senha?.errors && f.senha?.touched }"/>
                <div *ngIf="form.get('senha')?.hasError('required')" class="invalid-feedback">
                  Senha é obrigatório!
                </div>
              </div>
              <div class="">
                <label class="label" for="">Confirmar Senha:</label>
                <input class="input" type="password" placeholder="Confirme a Senha" formControlName="confirmarSenha"
                [ngClass]="{'is-invalid': f.confirmarSenha?.errors && f.confirmarSenha?.touched }" />
                <div *ngIf="form.get('confirmarSenha')?.hasError('required')" class="invalid-feedback">
                  Confirmar senha é obrigatório!
                </div>
                <div *ngIf="form.get('confirmarSenha')?.hasError('mustMatch')" class="invalid-feedback">
                  As senhas não coincidem.
                </div>
              </div>
            </div>


            <div class="checkbox">
              <input type="checkbox" class="" id="customCheck1" formControlName="chekbox"
              [ngClass]="{'is-invalid': f.checkbox?.errors}" />
              <label class="labelchek">Eu concordo com os <a href="#">Termos de Uso</a>.</label>

            </div>


            <div class="">
              <div class="">
                <button class="button-registration">
                  Registar
                </button>
              </div>
            </div>

              <div class="login">
                <a class="" routerLink="/user/login">
                  Já sou Cadastrado
                </a>
              </div>
          </form>
        </div>
    </div>
  </div>
</div>
    <!-- <div class="">
    <form class="">
      <div class="">
        <h3 class="">Cadastro de Usuário</h3>
      </div>
      <div class="formulario">
        <form class="form">
          <div class="">
            <div class="">
              <label>Primeiro Nome</label>
              <input type="text" class="" placeholder="Insira o Primeiro nome" />
            </div>
            <div class="">
              <label>Último nome</label>
              <input type="text" class="" placeholder="Insira o Último nome" />
            </div>
          </div>
          <div class="">
            <label for="">Email:</label>
            <input class="" type="text" placeholder="Insira o Nome Completo" />
          </div>
          <div class="">
            <label for="">Usuario:</label>
            <input class="" type="text" placeholder="Insira o nome de Usuário" />
          </div>
          <div class="">
            <div class="">
              <label for="">Senha:</label>
              <input class="" type="password" placeholder="Digite uma Senha" />
            </div>
            <div class="">
              <label for="">Confirmar Senha:</label>
              <input class="" type="password" placeholder="Confirme a Senha" />
            </div>
          </div>
          <div class="">
            <div class="">
              <input type="checkbox" class="" id="customCheck1">
              <label class="">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
            </div>
          </div>
          <div class="">
            <div class="">
              <button class="">
                Registar
              </button>
            </div>
          </div>
          <div class="">
            <div class="">
              <a class="" routerLink="/user/login">
                Já sou Cadastrado
              </a>
            </div>
          </div>
    </form>
    <div>
  </div> -->
