<div class="main">
  <div class="registration">
    <div class="imagem22">
      <img src="assets/images/registration.svg" alt="">
    </div>

    <div class="formulario">
        <div class="formulario">
          <form class="forms">
            <h1>Sing in</h1>
            <div class="nome">
              <div class="">
                <label class="label">Primeiro Nome</label>
                <input type="text" class="input-nome" placeholder="Insira o Primeiro nome" />
              </div>
              <div class="">
                <label class="label">Último nome</label>
                <input type="text" class="input-nome" placeholder="Insira o Último nome" />
              </div>
            </div>

            <div class="">
              <label class="label" for="">Email:</label>
              <input class="input" type="text" placeholder="Insira o Nome Completo" />
            </div>

            <div class="">
              <label class="label" for="">Usuario:</label>
              <input class="input" type="text" placeholder="Insira o nome de Usuário" />
            </div>

            <div class="">
              <div class="">
                <label class="label" for="">Senha:</label>
                <input class="input" type="password" placeholder="Digite uma Senha" />
              </div>
              <div class="">
                <label class="label" for="">Confirmar Senha:</label>
                <input class="input" type="password" placeholder="Confirme a Senha" />
              </div>
            </div>


            <div class="checkbox">
              <input type="checkbox" class="" id="customCheck1">
              <label class="labelchek">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
            </div>


            <div class="">
              <div class="">
                <button class="button-registration">
                  Registar
                </button>
              </div>
            </div>

              <div class="login">
                <a class="" routerLink="/user/login">
                  Já sou Cadastrado
                </a>
              </div>
          </form>
        </div>
    </div>
  </div>
</div>
    <!-- <div class="">
    <form class="">
      <div class="">
        <h3 class="">Cadastro de Usuário</h3>
      </div>
      <div class="formulario">
        <form class="form">
          <div class="">
            <div class="">
              <label>Primeiro Nome</label>
              <input type="text" class="" placeholder="Insira o Primeiro nome" />
            </div>
            <div class="">
              <label>Último nome</label>
              <input type="text" class="" placeholder="Insira o Último nome" />
            </div>
          </div>
          <div class="">
            <label for="">Email:</label>
            <input class="" type="text" placeholder="Insira o Nome Completo" />
          </div>
          <div class="">
            <label for="">Usuario:</label>
            <input class="" type="text" placeholder="Insira o nome de Usuário" />
          </div>
          <div class="">
            <div class="">
              <label for="">Senha:</label>
              <input class="" type="password" placeholder="Digite uma Senha" />
            </div>
            <div class="">
              <label for="">Confirmar Senha:</label>
              <input class="" type="password" placeholder="Confirme a Senha" />
            </div>
          </div>
          <div class="">
            <div class="">
              <input type="checkbox" class="" id="customCheck1">
              <label class="">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
            </div>
          </div>
          <div class="">
            <div class="">
              <button class="">
                Registar
              </button>
            </div>
          </div>
          <div class="">
            <div class="">
              <a class="" routerLink="/user/login">
                Já sou Cadastrado
              </a>
            </div>
          </div>
    </form>
    <div>
  </div> -->
